<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Inventário Mercadinho - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
<link rel="stylesheet" type="text/css" href="resources/css/main.css">

</head>

<body>


	<div id="inicio" class="container">
		<div style="margin-bottom: 25px;margin-top: -30px;float: right;margin-right: -3%;">
			<b-button-group>
				<b-button href="/novo-fabricante.html">Cadastrar Fabricantes</b-button>
			</b-button-group>
		</div>

		<h4>Adicionar de Produtos</h4>
		<template class="text-center">
		<div class="table"
			style="width: 450px !important; float: left !important;">
			<b-form col="8"> <b-form-group id="input-group-1"
				label="Nome:" label-for="input-1"> <b-form-input
				id="input-1" v-model="produto.nome" type="text" required
				placeholder="Enter nome"> </b-form-input> </b-form-group> <b-form-group
				id="input-group-1" label="Volume:" label-for="input-1">
			<b-form-input id="input-1" v-model="produto.volume" type="number"
				required placeholder="Enter volume"> </b-form-input> </b-form-group> <b-form-group
				id="input-group-1" label="Unidade:" label-for="input-1">
			<b-form-input id="input-1" v-model="produto.unidade" type="number"
				required placeholder="Enter unidade"> </b-form-input> </b-form-group> <b-form-group
				id="input-group-1" label="Estoque:" label-for="input-1">
			<b-form-input id="input-1" v-model="produto.estoque" type="number"
				required placeholder="Enter estoque"> </b-form-input> </b-form-group> <b-form-group
				id="input-group-3" label="Fabricante:" label-for="input-3">
			<b-form-select id="input-3" v-model="fabricanteSelecionado" required>
			<option v-for="lista in listaFabricantes">{{lista.nome}}</option>
			</b-form-select> 
			</b-form-group> 
			<b-button @click="criar(produto)" variant="primary" style="float: right;">Novo</b-button>
			</b-form>
		</div>
		<div class="table"
			style="width: 600px !important; float: right !important; margin-top: 30px;">
			<table class="table">
				<thead>
					<tr>
						<td>Nome</td>
						<td>Volume</td>
						<td>Unidade</td>
						<td>Estoque</td>
						<td>Fabricante</td>
						<td></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="produto of listaProdutos" :key="produto.id">
						<td>{{ produto.nome }}</td>
						<td style="text-align: center;">{{ produto.volume }}</td>
						<td style="text-align: center;">{{ produto.unidade }}</td>
						<td style="text-align: center;">{{ produto.estoque }}</td>
						<td style="text-align: center;">{{ produto.fabricante.nome }}</td>
						<td style="text-align: right;"><b-button
								@click="editar(produto)" variant="warning">Editar</b-button></td>
						<td><b-button @click="remover(produto.id)" type="submit"
								variant="danger">Deletar</b-button></td>
					</tr>
				</tbody>
			</table>
		</div>


		</template>

		<template> <!-- <b-button variant="success" href="/novo-produto.html">Produto</b-button>
			<b-button variant="success" href="/novo-fabricante.html">Fabricante</b-button>
			  --> </template>


	</div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/bootstrap-vue.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>