<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Cadastrar um novo Produto</title>
<link rel="stylesheet" type="text/css"
	href="../resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
<link rel="stylesheet" type="text/css" href="../resources/css/main.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

</head>

<body>
	
	<div id="cadastro-fabricante" class="container"
		style="margin-top: 40px; width: 450px !important;">
		<div>
			<template>
			<div>
				<b-form> <b-form-group id="input-group-1"
					label="Fabricante:" label-for="input-1"> <b-form-input
					id="input-1" v-model="fabricante.nome" type="text" required
					placeholder="Enter fabricante" style="width: 450px"></b-form-input>
				</b-form-group>
				<div style="text-align: right; width: 450px !important; margin-left: -10px;">
					<b-button href="/index.html" style="width:60px">Voltar</b-button>
					<b-button @click="criar" type="submit" variant="success" style="width:70px">Salvar</b-button>
				</div>
				</b-form>
			</div>
			</template>
		</div>
		<div style="margin-top: 40px; width: 450px !important;">
			<table class="table">
				<thead>
					<tr>
					</tr>
				</thead>
				<tbody>
					<tr v-for="fabricante of listaFabricante" :key="fabricante.id">
						<td>{{ fabricante.nome }}</td>
						<td style="text-align: right;width: 450px !important;"><b-button
								@click="editar(fabricante)" variant="warning">Editar</b-button>
							<b-button @click="remover(fabricante.id)" type="submit"
								variant="danger">Deletar</b-button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	

	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="resources/js/bootstrap-vue.js"></script>
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<script src="../resources/js/cadastro-de-fabricantes.js"></script>
</body>
</html>