<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Cadastrar um novo Produto</title>
<link rel="stylesheet" type="text/css"
	href="../resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
<link rel="stylesheet" type="text/css" href="../resources/css/main.css">
</head>

<body>
	<div id="cadastro-produto" class="container">
		<template>
			<div>
				<b-form @submit="onSubmit" @reset="onReset" v-if="show">
					<b-form-group id="input-group-1" label="Nome:" label-for="input-1">
						<b-form-input id="input-1" v-model="form.email" type="text" required placeholder="Enter nome">
						</b-form-input>
					</b-form-group>
					
					<b-form-group id="input-group-1" label="Volume:" label-for="input-1">
						<b-form-input id="input-1" v-model="form.email" type="number" required placeholder="Enter volume">
						</b-form-input>
					</b-form-group>
					
					<b-form-group id="input-group-1" label="Unidade:" label-for="input-1">
						<b-form-input id="input-1" v-model="form.email" type="number" required placeholder="Enter unidade">
						</b-form-input>
					</b-form-group>
					
					<b-form-group id="input-group-1" label="Estoque:" label-for="input-1">
						<b-form-input id="input-1" v-model="form.email" type="number" required placeholder="Enter estoque">
						</b-form-input>
					</b-form-group>
					<b-form-group id="input-group-3" label="Food:" label-for="input-3">
						<b-form-select id="input-3" v-model="form.food" :options="foods" required>
						</b-form-select>
					</b-form-group>
					<b-button type="submit"variant="primary">Novo</b-button>
				</b-form>
			</div>
		</template>
	</div>

	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="resources/js/bootstrap-vue.js"></script>
	<script src="../resources/js/cadastro-de-produtos.js"></script>
</body>
</html>